<div class="container h-screen m-auto flex justify-center items-center">
  <div class="bg-orange-200 w-screen md:w-1/2">
    <h2 class="ml-3 mt-3 mb-5">Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :gender %>
        <%= f.select :gender, options_for_select(%w[Male Female]), include_blank: true  %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :birthdate %>
        <%= f.date_field :birthdate %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :email %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions py-2 mx-3 flex flex-col border border-black-500 my-3 rounded-md hover:bg-white hover:text-black">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    <div class="ml-5 my-5">
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>