<div class="container h-screen m-auto flex justify-center items-center">
  <div class="bg-orange-200 w-screen md:w-1/2">
    <h2 class="ml-3 mt-3 mb-5">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mx-3 flex flex-col rounded-md mb-2">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-input text-black rounded-lg" %>
      </div>

      <div class="field mx-3 flex flex-col rounded-md mb-2">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-input text-black rounded-lg" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mx-3 rounded-md mb-2">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions py-2 mx-3 flex flex-col border border-black-500 my-3 rounded-md hover:bg-white hover:text-black">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
